* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  font-size: 16px;
  /* line-height: 1.5; */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header img{
    width: 6%;
    height: 8%;
    padding: 3px;
    border-radius: 20px;
  }
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin-right: 1rem;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  
/* Style for sign-up section */
.sign-up {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sign-up h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="password"],
.form-control input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #3e8e41;
}

.or-separator {
  text-align: center;
  margin: 20px 0;
}

.or-separator span {
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
  font-size: 16px;
  color: #999;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.social-icons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
   
    margin: 0 0 0 0 ;
  }