
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: #f1f1f1;
    }
    /* Set header styles */
    header {
      background-color: #333;
      color: #fff;
      padding: 0rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    header img{
      width: 6%;
      height: 8%;
      padding: 3px;
      border-radius: 20px;
    }
    header nav ul {
      display: flex;
      list-style: none;
    }
    
    header nav ul li {
      margin-right: 1rem;
    }
    
    header nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem;
    }
        /* CSS for the main section */
        #categories {
            width: 100%;
            background-color: #f5f5f5;
            padding: 20px;
          }
          
          #categories h2 {
            margin-top: 45px;
            font-size: 2em;
            text-align: center;
            margin-bottom: 20px;
          }
          
          #categories ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
          
          #categories li {
            margin: 30px 10px 10px 10px;
          }
          
          #categories a {
            display: block;
            padding: 10px;
            background-color: #fff;
            color: #333;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          }
          
          #categories a:hover {
            background-color: #333;
            color: #fff;
          }
          
          #categories form {
            margin-top: 20px;
            text-align: center;
          }
          
          #categories input[type="text"] {
            padding: 10px;
            border-radius: 5px;
            border: none;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          }
          
          #categories button[type="submit"] {
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #333;
            color: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            margin-left: 10px;
          }
          
          #categories button[type="submit"]:hover {
            background-color: #fff;
            color: #333;
          }
          .thumbnail button[type="submit"] {
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #333;
            color: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            margin-left: 10px;
          }
          .thumbnail button[type="submit"]:hover {
            background-color: #fff;
            color: #333;
          }
          /*Style of the hr*/
          hr {
            border: none;
            border-top: 3px solid #ccc;
            margin: 50px auto;
            width: 80%;
          }
           /* CSS for the members section */

  /* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  footer p {
    font-size: 1.2rem;
    margin: 0;
  }
  /* Courses Section */
.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .course {
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px #ccc;
    text-align: center;
    
        display: inline-block;
        width: calc(33.33% - 20px);
        margin: 0 10px 30px 10px;
    
    
  }
  .course-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  
  .course img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .course h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .course p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .course .rating {
    font-size: 16px;
    margin-bottom: 10px;
  }
  